<!DOCTYPE html>

<html lang="en">
  <head>
    <title>
      Thank you
    </title>
<head>
<style> 
    @media {
  body {
    width: 860px;
    margin: auto;
} 
}
@page {
  size: Letter;
  width: 860px;
  height: 1050px;
  margin: auto;
}

body { /* Normal  */
  font-size: 14px;
  font-family: "Cambria", sans-serif;
  line-height: 15px ;
  text-align: justify;
}
td {  /* Table  */
  font-size: 10px;
  font-family: "Cambria", sans-serif;
  line-height: 12px;
  text-align: center;
}
table {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 75%;
  text-align:center;
  margin: 0 auto;
  }
.title {
  font-size: 12px;
  font-family: "Cambria", sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  padding: 96px;
}
h1 { /* Header 1 */
  font-size: 16px;
  font-family: "Cambria", sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}
h2 { /* Header 2 */
  font-size: 16px;
  font-family: "Cambria", sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
}
h3 { /* Header 3 */
  font-size: 14px;
  font-family: "Cambria", sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  text-align: left;
}
h4 { /* Header 4 */
  font-size: 13px;
  font-family: "Cambria", sans-serif;
  font-variant: small-caps;
  text-align: left;
}
</style>
</head>
<body>
<div class="header"  style="width:  775px; padding: 85px;">
<h1>Open-Ready [Self-Contained]<br></h1>
<h2>Diversity and Impact Measurement in Canada<br></h2>
<h3>Xavier Lemyre</h3>
<h4>Policy Research Group
<br>May 26, 2020</h4>

</div><br>
<P style="page-break-after: always">

<div style="border: 3px solid Gray; border-style: ridge; width: 775px; height: 1000px; padding: 85px; page-break-after: always">


Remarque: ce document est conçu afin d’être accessible, interactif et reproductible. La recherche ici incluse représente les vues, perspectives et opinions de l’auteur seulement et à lui reviennent fautes ou omissions. 


<br>

Copyright © 2020

<br>

Open ◎ 2020 X

<br>

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

<br>

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

<br><br>


</div><br>
<div style="border: 3px solid Gray; border-style: ridge; width: 775px; height: 1000px; padding: 85px; page-break-after: always">



<h2> Open-Ready [Self-Contained] </h2>
<br><br>
<iframe
    width="600"
    height="300"
    src="">
</iframe>
<br>


THE SOFTWARE IS PROVIDED `AS IS`, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.



</div><br>
<div style="border: 3px solid Gray; border-style: ridge; width: 775px; height: 1000px; padding: 85px; page-break-after: always">


<h2> Diversity and Impact Measurement in Canada </h2>


<iframe
    width="150"
    height="150"
    src="">
</iframe>



</div><br>
<div style="border: 3px solid Gray; border-style: ridge; width: 775px; height: 1000px; padding: 85px; page-break-after: always">


</div><br>

</body>
</html>